body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}
